<%- layout('profiles') %>

        <!--TODO: Agregar acción para registrar asignación-->
        <form id="botiquinFormA" class="center" action="/revision/crearRevision" method="post">
            <br>
            <h3>Asigne un empleado al botiquin</h3>
            <div class="form-group">
                <label id="mes">
                    <span>Mes:</span>                    
                </label>
                <select name="mes" class="form-control">
                    <option value="enero">Enero</option>
                    <option value="febrero">Febrero</option>
                    <option value="marzo">Marzo</option>
                    <option value="abril">Abril</option>
                    <option value="mayo">Mayo</option>
                    <option value="junio">Junio</option>
                    <option value="julio">Julio</option>
                    <option value="agosto">Agosto</option>
                    <option value="septiembre">Septiembre</option>
                    <option value="octubre">Octubre</option>
                    <option value="noviembre">Noviembre</option>
                    <option value="diciembre">Diciembre</option>
                </select>
            </div>
            <div class="form-group">
                <label id="botiquin">
                    <span>Botiquin:</span>                    
                </label>
                <select name="botiquin" class="form-control">
                    <% botiquines.forEach(botiquin => { %>
                        <option value="<%= botiquin._id %>"><%= botiquin.nombre %> </option>
                    <% }); %> 
                </select>
            </div>

            <div class="form-group">
                <label id="empleado">
                    <span>Empleado:</span>                    
                </label>
                <select name="empleado" class="form-control">
                    <% empleados.forEach(empleado => { %>
                        <option value="<%= empleado._id %>"><%= empleado.nombre %> </option>
                    <% }); %> 
                </select>
            </div>
            
            <!--TODO: AGREGAR EMPLEADO (NOMBRE)-->
            <div class="form-group">
                <button type="submit" class="btn btn-dark">Asignar empleado</button>
            </div>
        </form>


</div>